body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 45px;
}
.orange {
    color: orange;
}
.section-1 {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.half-width {
    width: 50%;
}
.half-width img {
    width: 87%;
}
.half-width {
    padding-left: 8%; 
    padding-right: 10%;
} 
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700px;
}
.section-2 {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 120px;
}

.half-width-2 img {
    width: 87%;

}
.last-container {
    display: flex;
}
.half {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;


}
.ex {
    color: orange;
}
.section-3 {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 120px;
}
#f1 {
    border-left: 10px solid rgba(248, 97, 27, 0.966);
    
}
#f2 {
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}

